# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Logs
logs/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/